.input-group{
    width: 500px;
}
.search-icon, .notif-icon{
    color: #8a70d6;
}
#profil img{
    width: 40px;
}
.noc{
    height: 250px;
    overflow: scroll;
}
.dropdown-item .update-profil:hover {
  color: blue;
}