.input-group{
    width: 500px;
}
.search-icon, .notif-icon{
    color: #8a70d6;
}
#profil img{
    width: 40px;
}
.noc{
    height: 250px;
    overflow: scroll;
}


.btntoggle{
    background-color: #0cb6d800 !important;
    border: none ;
}

.profilEdi{
    border: 2px solid rgb(0, 174, 255);
    border-radius: 5px ;
}

.btnModif{
    background:#8a70d6 !important;
}
.btnModif:hover{
    background :rgb(112, 214, 154) !important;;
}

.profil{
    border: none!important;
}
