
.box-certifier{
    font-size: 30px;
    font-weight: 500;
    color: #cf70d6;
    text-align: center;
    padding: 15px;
}

.cert1{
    font-size: 20px;
}

.cert2{
    font-size: 20px;
}

.nav-item{
    list-style: none;
}

.input-style {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
  }
  
  .input-style:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  /* From uiverse.io by @Ali-Tahmazi99 */
.btn-certfier {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #03045e;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
   }
   
   .btn-certfier::before,
   .btn-certfier::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
   }
   
   .btn-certfier::before {
    left: -10px;
    background: #240046;
   }
   
   .btn-certfier::after {
    right: -10px;
    background: #5a189a;
   }
   
   .btn-certfier:hover::before,
   .btn-certfier:hover::after {
    width: 58%;
   }
   
   .btn-certfier:hover span {
    color: #e0aaff;
    transition: 0.3s;
   }
   
   .btn-certfier span {
    color: #03045e;
    font-size: 18px;
    transition: all 0.3s ease-in;
   }