/* @media only screen and (max-width: 425px) {
    .navForm {
        width: 50%;
        
    }

    .navBar {
        display: flex;
    }

    .navList img {
        width: 25px;
        margin-right: 0px !important;
    }

    .navList li {
        margin: 0 5px 0 5px !important;
    }
}

.navList li {
    margin: 0 20px 0 20px;
}

.navList img{
    margin-right: 15px;
}
.recherche{
    margin-left: 150px !important;
    
} */


.add{
    background-color: #a023e8 !important;
    border: 3px solid #a023e8;
}
.add:hover{
    /* background:#920fac !important; */
    border: 3px solid #a023e8;
}
.iconotif{
    background-color: transparent !important;
    border: none!important ;
}
.noc{
   height: 200px !important;
    overflow:scroll;
}
.btnFermer{
    background-color: transparent !important;
    border: 3px solid #a023e8;
    color: black;
}
.btnFermer:hover{
    background:#d80c0c !important;
    border: 3px solid #e81010;
}
.saveBtn{
    background-color: green;
    border: 3px solid green;
}

.saveBtn:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
.notif-icon{
    cursor: pointer;
    color: rgb(138, 18, 224);
    
}
.btntoggle{
    background-color: #0cb6d800 !important;
    border: none ;
}

.profilEdi{
    border: 2px solid rgb(0, 174, 255);
    border-radius: 5px ;
}

.btnModif{
    background:#8a70d6 !important;
}
.btnModif:hover{
    background :rgb(112, 214, 154) !important;;
}

.profil{
    border: none!important;
}
