/* @media only screen and (max-width: 425px) {
    .navForm {
        width: 50%;
        
    }

    .navBar {
        display: flex;
    }

    .navList img {
        width: 25px;
        margin-right: 0px !important;
    }

    .navList li {
        margin: 0 5px 0 5px !important;
    }
}

.navList li {
    margin: 0 20px 0 20px;
}

.navList img{
    margin-right: 15px;
}
.recherche{
    margin-left: 150px !important;
    
} */


.add{
    background-color: #a023e8 !important;
    border: 3px solid #a023e8;
}
.add:hover{
    /* background:#920fac !important; */
    border: 3px solid #a023e8;
}

.btnFermer{
    background-color: transparent !important;
    border: 3px solid #a023e8;
    color: black;
}
.btnFermer:hover{
    background:#d80c0c !important;
    border: 3px solid #e81010;
}
.saveBtn{
    background-color: green;
    border: 3px solid green;
}

.saveBtn:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
.notif-icon{
    cursor: pointer;
    color: white;
    
}
.dropdown-item .update-profil:hover {
  color: white;
}
.noc{
    height: 200px;
    overflow: scroll;
}
.iconoti{
    background-color: transparent !important;
   
}
.dropdown{
    color: white ;
}