.add, .logout{
    background-color: #8a70d6;
    color: black;
    font-weight: bold;
}
.add:hover{
    background-color: #8a70d6;
    color: black;
}
.logout:hover{
    background-color: #8a70d6;
}
.selectModal{
    padding: 15px;
}
.carte{
    background-color: #e9e3ff;
    border: none;
}
.img-profil{
    width: 35px;
}

.btnPrecedn,
.btnSuiv{
    background-color: #792be8 !important;
    color: #e9e3ff !important;
    border: none !important;
}