.add, .logout, .save{
    background-color: #8a70d6;
    font-weight: bold;
}
.selectModal{
    padding: 15px;
}
.carte{
    background-color: #e9e3ff;
    border: none;
}
.img-profil{
    width: 35px;
}

.btnPrecedn,
.btnSuiv{
<<<<<<< HEAD
    background-color: #792be8 !important;
    color: #e9e3ff !important;
    border: none !important;
=======
    background-color: #ffffff !important;
    color: #6c48ee !important;
    border: 3px solid #792be8 !important;
}
.btnPrecedn:hover,
.btnSuiv:hover{
    background-color: #792be8 !important;
    color: #e9e3ff !important;
}

.nbrPages{
    background-color: #792be8;

>>>>>>> b05e5ea6a1e54d8cbec660bf98040623bf0b5e60
}