ul {
    margin: 0;
    padding: 0;
}

ul li a:hover {
    cursor: pointer;
    padding: 5px 0 0 10px;

}


.logo img {
    width: 100px;
    margin: -10px 0 15px 0;
}

.sideBar {
    width: 100%;
   
}

.sideBar li a:hover {
    background-color: #8a70d6; 
    color:#fff!important ;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.sideBar li a{
    
    margin-left: 20px;
    font-size: 14px;
}
 
.imgcard{
    border: none;
    background-color: #8970d69e;
}
.btn{
    background-color: #8a70d6;
}
.card {
    width: 252px;
    height: 265px;
    background: white;
    border-radius: 30px;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
    transition: 0.2s ease-in-out;
  }
  
  .img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: linear-gradient(#e66465, #9198e5);
    display: flex;
    align-items: top;
    justify-content: right;
  }
  
  .save {
    transition: 0.2s ease-in-out;
    border-radius: 10px;
    margin: 20px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .text {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    
  }
  
  .save .svg {
    transition: 0.2s ease-in-out;
    width: 15px;
    height: 15px;
  }
  
  .icon-box {
    margin-top: 15px;
    width: 70%;
    padding: 10px;
    background-color: #8a70d6; 
    border-radius: 10px;
    align-items: center;
    justify-content: left;
  }
  
  .icon-box svg {
    width: 17px;
  }
  
  .text .h3 {
    font-family: 'Lucida Sans' sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: black;
  }
  .lo{
    width: 100%;
  }
  
  .text .p {
    font-family: 'Lucida Sans' sans-serif;
    color:  #9198e5;
    font-size: 13px;
  }
  
  .icon-box .span {
    margin-left: 10px;
    font-family: 'Lucida Sans' sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #9198e5;
  }
  
  .card:hover {
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
  }
  
  .save:hover {
    transform: scale(1.1) rotate(10deg);
  }
  
  .save:hover .svg {
    fill: #ced8de;
  }

@media only screen and (max-width: 425px) {
    .logo img {
        width: 50px;
        margin: 15px 0 10px 0;
    }
    .sideBar li a:hover {
        background: rgb(251, 232, 211);
        padding: 0;
    }
    .sideBar li a{
        margin-left: 25px;
        font-size: 20px;
    }
}