.chat-item{
    background-color: #e9e3ff;
    border-color: #e9e3ff;
}
.chat-item:hover{
    background-color: #e9e3ff;
    border-color: #e9e3ff;
}
.profil img {
    width: 35px;
}
.name p{
    color: #424040;
}
.chat-sender{
    background-color: #e9e3ff;
}
.chat-box{
    background-color: #fbfbfb;
}
.receved-msg{
    background-color: grey;
}
.send-btn:hover{
    background-color: #e9e3ff;
}