.icon{
    font-size: 40px;
    color: #8e70d6;
}

.cart-liv{
    background-color: #8e70d6;
    color: white;
    height: 100px;
    text-align: start !important;
    font-weight: 500;

} 

.btn-car{
    background-color: gray;
    color: white;  
    font-size: 16px;
    font-weight: 300;
    height: 40px !important;
    width: 106px !important;
}

.btn-car:hover{
    background-color: gray !important;
    color: white !important;  
    font-size: 16px;
    font-weight: 300;
    height: 40px !important;
    width: 106px !important;
}

.btn-cart{
    background-color: #8e70d6;
    color: white;  
    font-size: 16px;
    font-weight: 300; 
    height: 40px !important;
    width: 106px !important;
}
.btn-cart1:hover{
    background-color: #8e70d6;
    color: white;  
    font-size: 16px;
    font-weight: 300;
    height: 40px !important;
    width: 108px !important;
}

.btn-cartt{
    align-self: flex-end;
    background-color: white;
    color: red;
    border: 2px solid red;  
    font-size: 18px;
    font-weight: 300;
    height: 40px !important;
    width: 130px !important;
}
.btn-cartt:hover{
    background-color: white;
    color: red;
    border: 2px solid red;  
    font-size: 18px;
    font-weight: 300;
    height: 40px !important;
    width: 130px !important;
}

#mod1{
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: 200;
}
#mod1 .modal-header{
    background-color: #8e70d6;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.btn-cap{
    background-color: #cf70d6;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
}
.btn-cap:hover{
    background-color: #d6cd70;
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
}

.btn-send{
    background-color: #8e70d6;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
}
.btn-send:hover{
    background-color: #8e70d6;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
}



.btn-car{
    border: 2px solid #8e70d6;
    color: white;
}

.btn-car:hover{
    background-color: #e9e3ff;
    color: black;
}