.icon{
    font-size: 40px;
    color: #8e70d6;
}

.cart-liv .card-header{
    background-color: #8e70d6;
    color: black;
    height: 100px;
    text-align: start !important;

} 

.title{
    font-size: 25px;
    color: #8e70d6;

}

.btn-ca{
    background-color: #8e70d6;
    color: white;  
    font-size: 20px;
    font-weight: 500;
    height: 50px !important;
    width: 200px !important;
}

.btn-ca:hover{
    background-color: #8e70d6 !important;
    color: white !important;  
    font-size: 20px;
    font-weight: 500;
}

.btn-car1{
    background-color: gray;
    color: white;  
    font-size: 18px;
    font-weight: 300;
    height: 40px !important;
    width: 150px !important;
}

.btn-car1:hover{
    background-color: gray !important;
    color: white !important;  
    font-size: 18px;
    font-weight: 300;
    height: 40px !important;
    width: 150px !important;
}

.btn-cart1{
    background-color: #8e70d6;
    color: white;  
    font-size: 18px;
    font-weight: 300;
    height: 40px !important;
    width: 180px !important;
}
.btn-cart1:hover{
    background-color: #8e70d6;
    color: white;  
    font-size: 18px;
    font-weight: 300;
    height: 40px !important;
    width: 180px !important;
}

.btn-cartt{
    background-color: white;
    color: red;
    border: 2px solid red;  
    font-size: 16px;
    font-weight: 300;
}
.btn-cartt:hover{
    background-color: white;
    color: red;
    border: 2px solid red;  
    font-size: 16px;
    font-weight: 300;
}

#mod1{
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: 200;
}
#mod1 .modal-header{
    background-color: #8e70d6;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.btn-cap{
    background-color: #cf70d6;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
}
.btn-cap:hover{
    background-color: #d6cd70;
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
}

.btn-send{
    background-color: #8e70d6;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
}
.btn-send:hover{
    background-color: #8e70d6;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
}



.btn-car{
    border: 2px solid #8e70d6;
    color: white;
}

.btn-car:hover{
    background-color: #e9e3ff;
    color: black;
}