/* ul {
    margin: 0;
    padding: 0;
}

ul li a:hover {
    cursor: pointer;
}


.logo img {
    width: 120px;
    margin: -10px 0 15px 0;
}

.sideBar {
    width: 18%;
}

.sideBar li a:hover {
    background-color: #8a70d6; 
    color:#fff!important ;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.sideBar li a{
    margin-left: 20px;
    font-size: 14px;
}
 
.imgcard{
    border: none;
    background-color: #8970d69e;
}
.btn{
    background-color: #8a70d6;
}
@media only screen and (max-width: 425px) {
    .logo img {
        width: 50px;
        margin: 15px 0 10px 0;
    }
    .sideBar li a:hover {
        background: rgb(251, 232, 211);
        padding: 0;
    }
    .sideBar li a{
        margin-left: 25px;
        font-size: 20px;
    }
} */
.side-link{
    color: #424040;
}
.side-icon{
    color: #8a70d6;
}
.side-logo{
    width: 200px;
}

.menuBtn{
    border: 3px solid #a023e8;
}

.menuBtn:hover{
    background-color: #a023e8;
    color: aliceblue;
}
.btnDecon:hover{
    background-color: #e60303;
    color: aliceblue;
}
.btnDecon{
    border: 3px solid #fe0000;
}

.menuLi{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.menuLi:hover {
    background-color: #a023e8;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: .7s;
}
.menuLi:hover .side-icon{
    color: aliceblue;
}
.menuLi:hover .side-link{
    color: aliceblue;
}